<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ... -->
</head>

<body>
    <script>
        const urlPath = window.location.pathname;

        // Split the URL path to get the last segment (the UUID)
        const segments = urlPath.split('/');
        const uuid = segments[segments.length - 1];
        console.log(uuid);

        function submitNewPassword(event) {
            event.preventDefault(); // Prevent form submission until validation is complete

            const newPasswordInput = document.getElementById('new_password');
            const newPasswordValue = newPasswordInput.value;

            console.log('yaha tak to aa gya');
            axios.post('http://localhost:3000/user/password/resetPassword/', {
                newPassword: newPasswordValue,
                uuid: uuid
            })
                .then(function (response) {
                    if(response.status === 200){
                        window.alert("your password updated successfully!");
                        window.location.href = 'http://127.0.0.1:5500/views/login/login.html';
                    }
                    console.log(response.data);
                })
                .catch(function (error) {
                    console.error(error);
                });
        }



    </script>
    <h2>Reset Password</h2>
    <form id="reset-password-form" onsubmit="submitNewPassword(event)">
        <input type="hidden" name="uuid" value="${uuid}">
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password" required><br><br>
        <!-- You can add additional fields for password confirmation or other information as needed -->

        <input type="submit">
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>

</body>

</html>